@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
/*Header*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../assets/img/bg_main.png);
    background-size: cover;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    

}
.logo{
    color: #E3B873;
    width: 150px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;  
    
}

.nav{
    width: 430px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    
    

}
.nav_a{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 15px;

color: #E3B873;
text-decoration: none;
}
.nav_a:hover{
    color: white;

}
.contacts{
    width: 300px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;

    color: #E3B873;
}
.Request{
    width: 161px;
    height: 37px;
        font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    cursor: pointer;
}
.requesttext{
    width: 95px;
    height: 11px;
    font-family: Nunito Sans;
font-style: italic;
font-weight: normal;
font-size: 11px;
line-height: 15px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.main_info{
    position: absolute;
    width: 676.11px;
    height: 305px;
    left: 134px;
    top: 277px;
    display: flex;
    flex-direction: column;
    justify-items: left;
}
.first{
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;

color: #FFFFFF;
line-height: 36px;
}
.rostov{
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;

color: #E3B873;
}
.second{
    width: 504px;
    height: 89px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

}
.calculate{
    width: 207px;
    height: 51px;
    left: 0px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    cursor: pointer;
   
    
}
.calculatetext{
    width: 124px;
    height: 11.35px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.submit{
    width: 207px;
    height: 51px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-blend-mode:color-dodge;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color:transparent;
    cursor:pointer
}
.submittext{
width: 162px;
height: 11.35px;
font-family: Nunito Sans;
font-style: italic;
font-weight: normal;
font-size: 11px;
line-height: 15px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.navi{
    margin-top: 13px;
}
/*Body*/
.building{
    position: absolute;
left: 55.83%;
right: -25.28%;
top: -1.62%;
bottom: 78.86%;

background: url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
}
